# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Intermediate files
*.idb
*.pdb
*.tlog
*.ink
*.icph


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app

# Folders
/.vs
/x64
/SandBox/x64


